<tr id="<%= dom_id place %>">
  <td>
    <%= place.name %>
  </td>
  <td>
    <%= link_to "Show this place", place ,class:"btn btn-app mt-3"%>
  </td>
</tr>
<tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
</tr>