<% if current_user.admin?%>

<h1>New place</h1>

<%= render "form", place: @place %>

<br>

<div>
  <%= link_to "Back to places", places_path,class:"btn btn-app mt-3" %>
  <%= link_to 'Back to Schedules', schedules_path,class:"btn btn-app mt-3" %>
</div>
<% end %>